.figure {
    width: 300px;
    text-align: center;
    margin: 10px;
    transition: 200ms;
    box-shadow: 3px 8px 5px gray;
    border-radius: 13px;
}
.name{
    font-size: medium;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.figure img {
    height: 200px;
    width: 95%;
    padding: 8px;
}



button:hover {
    background-color: rgb(126, 126, 214);
    transition: 500ms;
}

.figure:hover {
    transform: scale(1.03);
}

.info {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}