
.w-third-forth {
    width: 75%; 
  }
  
  .m-auto {
    margin: 50px auto;
  }
  
  .mt-20 {
    margin-top: 5rem; 
  }
  

  .bg-white {
    background-color: #fff;
  }
  
  .h-ght {
    height: 450px;
  }
  
  .text-black {
    color: #000;
  }

  .h-56 {
    height: 14rem;
  }
  
  .rounded-t-xl {
    border-top-left-radius: 0.75rem; 
    border-top-right-radius: 0.75rem;
  }
  
  .bg-indigo-500 {
    background-color: #6b46c1;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
 
  .h-44 {
    height: 11rem; 
  }
  
  .w-44 {
    width: 11rem; 
  }
  
  .rounded-full {
    border-radius: 9999px; 
  }
  
  
  .flex-col {
    flex-direction: column;
  }
  
  .gap-4 > * + * {
    margin-top: 1rem;
  }
  
  .p-4 {
    padding: 1rem; 
  }
  
  
  .text-xl {
    font-size: 1.25rem;
    font-weight: 600; 
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
 
  .text-lg {
    font-size: 1.125rem; 
  }
  
  .px-6 {
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
  }
  
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .bg-indigo-500 {
    background-color: #6b46c1;
  }
  
  .text-white {
    color: #fff;
  }
  
  .rounded-xl {
    border-radius: 0.75rem; 
  }
  
  .button {
    cursor: pointer;
  }

  .slick-slide > div{
    margin: 0 10px;
  }
  
